.addButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 104px;
  height: 40px;
  background: #E4163A;
  border-radius: 4px;
}
.addButtonText{
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}
.addButton:hover{
  background: #FF5761;
}
.addButton:focus{
  background: #C60E2E;
}
.addButton:disabled{
  background: #F6F6F6;
}
.addButtonText:disabled{
  color: #D1D1D1;
}

@media(max-width: 650px){
  .addButton{
    width: 351px;
  }
}
@media(max-width: 490px){
  .addButton{
    width: 310px;
  }
}
@media(max-width: 430px){
  .addButton{
    width: 260px;
  }
}

