
.signUpForm {
  background:#fff;
  display: flex;
  min-width: 606px;
  height: 1024px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signUpTitle{
  font-size: 36px;
  line-height: 49px;
  color: #344472;
}
.signUpDescription{
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
}
.linkSignIn{
  color:#E4163A;
}
.signUpBg{
  width: 834px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUpImg{
  width: 605px;
  height: 412px;
  display: flex;

}

.input{
  min-width: 366px;
  background: #F6F6F6;
  border-radius: 4px;
  border:none;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #303030;
}
.input:hover{
  background: #D1D1D1;
}
.input:focus{
  box-shadow: 0px 0px 5px #D9D9D9;
}
.input:disabled{
  color: #D1D1D1;
} 
.linkSignIn{
  color:#E4163A;

}
@media (max-width:1250px){
  .signUpImg{
    display: none;
  }
  .signUpBg{
    background: #fff;
    display: none;
  }
  .signUpForm{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}