.Sign_In_but{
  background: var(--red);
  border-radius: 4px;
  height: 40px;
  width: 365px;
  border:none;
}
.Sign_In_but span{
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}
.Sign_In_but:hover{
  background: var(--light-red)
}
.Sign_In_but:focus{
  background: var(--dark-red);
}
.Sign_In_but:disabled{
  background: var(--lightest-grey1);
  color: var(--lightest-grey);
}
.Sign_In_but:disabled span{
  color: var(--lightest-grey);
}