.containerCardTeam{
  margin: 32px 0 24px 0px;
  width: 1140px;
  height: 594px;
  list-style: none;
  display: flex;
  flex-direction:column ;
  flex-wrap:wrap ;
}
button{
  padding: 0;
  margin: 0;
  background: #fff;
  border: none;
  cursor: pointer;
}
.topCardTeam{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background: #FFFFFF;
  border: 0.5px solid #9C9C9C;
  border-radius: 10px 10px 0px 0px;
}

.aboutCardTeam{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-left: 32px;
}
.link {
  color: var(--red);
}
.aboutÐ¡ardTeam > span > span{
  color: var(--light-grey);
}
.editCardTeam{   
  margin-right: 32px;
  display: flex;
}
.createBut{
  margin-right: 16px;
}
.mainCardTeam{
  color: #fff;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
  border-radius: 10px 10px 0px 0px;
  height: 525px;
}
.descriptionCardTeam{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 56px;
  width: 600px;
}
.nameCardTeam > h2{
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
}
.number{
  color:#FF5761;
}
.position{
  margin-bottom: 54px;
}
.position > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px
}
.text{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

}
.height{
  margin-bottom: 54px;
}
.height > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px
}

.age > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.team{
margin-bottom: 54px;
}
.team > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.weight > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.logoCardTeam{
  display: flex;
  margin-top: 35px;
  width: 531px;
  height: 490px;
}
.nameContainer{
width: 100%;
margin-top: 65px;
margin-bottom: 32px;
display: flex;
justify-content: center;
align-items: center;

}
.infoPlayerContainer{
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
flex-wrap: wrap;
height: 350px;
}

@media(max-width: 1460px){
  .containerCardTeam{
    margin: 32px 0 24px 0px;
    width: 900px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction:column ;
    flex-wrap:wrap ;
  }
.mainCardTeam{
width: 800px;
}
.topCardTeam{
  width: 800px;
}
}
@media(max-width: 1280px){
  .mainCardTeam{
    width: 600px;
    }
    .topCardTeam{
      width: 600px;
    }
  .mainCardTeam{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height:600px;

    }
    .nameContainer{
      margin: 0;
    }
  .containerCardTeam{

    width: 100%;
    list-style: none;
    display: flex;

  }
  .logoCardTeam{
    width: 300px;
    height: 300px;
  }

.logoCardTeam{
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}
.descriptionCardTeam{
  display: flex;
  flex-direction: column;
  margin-left: 20px;

}
.nameCardTeam > h2{
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 49px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.foundationCardTeam > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px
}
.text{
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;

}
.conferenceCardTeam{
  margin-top: 0px;
}
.conferenceCardTeam > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px
}

.divisionCardTeam > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px;
  margin-top: 0px;
}
}
@media(max-width: 900px){

  .containerCardTeam{

    width: 380px;
    height: 703px;
    list-style: none;
    display: flex;

    align-items: center;
    text-align: center;

  }
.mainCardTeam{
  flex-direction: column;
  height: 480px;
  width: 300px;
}
.topCardTeam{
  width: 300px;
}
.logoCardTeam{
  width: 100px;
  height: 100px;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}
.descriptionCardTeam{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 400px;
  width: 280px;
}
.nameCardTeam > h2{
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 49px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.position > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px
}
.text{
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;

}
.conferenceCardTeam{
  margin-top: 0px;
}
.height > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px
}

.team > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px;
  margin-top: 0px;
}
.age > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px;
  margin-top: 0px;
}
.weight > h3{
  color: #fff;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 33px;
  margin-top: 0px;
}
}
@media(max-width: 400px){
  .descriptionCardTeam{
 
    width: 220px;
 
  }
  .mainCardTeam{
    flex-direction: column;
    height: 480px;
    width: 250px;
  }
  .topCardTeam{
    width: 250px;
  }
}
