
  .bg{
    background: var(--lightest-grey1);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .selectTeam{
    margin-left: 24px;
    width: 364px;
    height: 40px;

  }
  .selectChip{
    font-style: normal!important;
  font-weight: normal!important;
  font-size: 14px!important;
  line-height: 19px!important;
  color: #FFFFFF!important;
    color: #fff!important;
    background: var(--red)!important;
    border-radius: 4px!important;
  }
  .upFirstContainer{
    display: flex;
    align-items: center;
    text-align: center;
  }

  .upContainer{
    flex-wrap: wrap;
    height: 40px;
    width: 1140px;
    display: flex;
    margin: 0 auto;
    margin-top: 32px;
    justify-content: space-between;
  }
  
  .mainContainer{
    margin-left: 80px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 810px;
    width: 100%;
  }
  .smallCardContainer{
 
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 100%;
  }
  .container{
    height: 100%;
  }
  .paginationContainer{
    justify-content: flex-start;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 35px;
    margin-left: 80px;
  }
  @media(max-width: 1420px){
    .smallCardContainer{
      width: 980px;
    }
    .upContainer{
      width: 900px;
    }
  }
  @media(max-width: 1200px){
    .paginationContainer{
      margin-top: 0;
    }
    .selectTeam{
      margin-left: 0;
      margin-right: 10px;
      width: 200px;
    }
    .smallCardContainer{
      width: 680px;
    }
    .mainContainer{
      height: 650px;
    }
    .upContainer{
      justify-content:space-around;
      width: 700px;
    }
    
  }
  @media(max-width: 900px){
    .smallCardContainer{
      width: 520px;
    }
    .paginationContainer{
margin-left: 35px;
    }
    .selectTeam{ 
      padding: 0;
      width: 250px;
    }
    .upContainer{
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;
      height: 120px;
    }
    .upFirstContainer{
      display: flex;
      flex-direction: column;
 text-align: center;
 align-items: center;
      width: 300px;
      justify-content: center;
    }
   .mainContainer{
     height: 450px;
     margin-left: 40px;
   }
  }
  @media(max-width: 740px){
    .smallCardContainer{
      width: 430px;
      height: 340px;
    }
    .upContainer{
     
      height: 120px;
      
    }
   .mainContainer{
     height: 310px;
   }
  }
  @media(max-width: 650px){
    .smallCardContainer{
      justify-content: space-between;
      width: 390px;
      height: 340px;
    }
    .upContainer{
      flex-direction:column;
      justify-content: center;
      align-items: center;
      height: 120px;
      margin: 0;
      
      width: 351px;
    }
   .mainContainer{
     height: 600px;
     margin-left: 80px;
   }
   .container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
  }
  @media(max-width: 490px){
    .smallCardContainer{
      justify-content: space-between;
      width: 330px;
      height: 340px;
    }
    .upContainer{
      flex-direction:column;
      justify-content: center;
      align-items: center;
      height: 120px;
      margin: 0;
      margin-left: 78px;
      width: 330px;
    }
   .mainContainer{
     height: 600px;
     margin-left: 80px;
   }
   .container{
    width: 330px;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  }
  @media(max-width: 430px){
    .smallCardContainer{
      justify-content: space-between;
      width: 290px;
      height: 340px;
    }
    .upContainer{
      flex-direction:column;
      justify-content: center;
      align-items: center;
      height: 120px;
      margin: 0;
   margin-left: 20px;
      width: 330px;
    }
   .mainContainer{
     height: 440px;
     margin-left: 20px;
   }
   .container{
    width: 290px;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  }




