.searchForm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 0.5px solid var(--lightest-grey);
  background: #FFFFFF;
  width: 364px;
  height: 40px; 
}
.searchInput{
    margin-left: 12px;
    display: flex;
    border:none;
    -webkit-appearance: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
  }
  .searchButton{
    background: #FFFFFF;
    margin: 12px;
    display: flex;
    border: none;
    cursor: pointer;
    transition: color .2s;
    }
    .searchInput::-webkit-input-placeholder {
      color: var(--grey);
      line-height: 24px;
      font-size: 14px;
      font-weight: 500;;
      
    }
    .searchInput:-moz-input-placeholder {
      color: var(--grey);
      line-height: 24px;
      font-size: 14px;
      font-weight: 500;;
    }
    .searchInput:-ms-input-placeholder {
      color: var(--grey);
      line-height: 24px;
      font-size: 14px;
      font-weight: 500;;
    }

    @media(max-width: 1200px){
      .searchForm{
        margin-right: 50px;
        width: 250px;
      }
    }
    @media(max-width: 740px){
      .searchForm{
        margin-right: 0;
        width: 220px;
      }
    }
    @media(max-width: 650px){
      .searchForm{
        margin-right: 0;
         width: 351px;
      }
    }
    @media(max-width: 490px){
      .searchForm{
        margin-right: 0;
         width: 310px;
      }}
      @media(max-width: 430px){
        .searchForm{
          margin-right: 0;
           width: 260px;
        }
    }
    
