.addButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 104px;
  height: 40px;
  background: var(--red);
  border-radius: 4px;
}
.addButtonText{
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}
.addButton:hover{
  background: var(--light-red);
}
.addButton:focus{
  background: var(--dark-red);
}
.addButton:disabled{
  background: var(--lightest-grey1);
}
.addButtonText:disabled{
  color: var(--lightest-grey);
}

@media(max-width: 650px){
  .addButton{
    width: 351px;
  }
}
@media(max-width: 490px){
  .addButton{
    width: 310px;
  }
}
@media(max-width: 430px){
  .addButton{
    width: 260px;
  }
}

