.containerBurgerMenu{
  display: none;
  height: 100%;
  position: absolute;
}

@media(max-width: 650px){
  .containerBurgerMenu{
    min-height: 100%;
    display: flex;
  }
  .item1{
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

  }
  .userProfile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .userName{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-grey);
    width: 100%;
    margin-left: 10px;
  }
  .linkUser{
    display: flex;
    align-items: center;
    margin-right: 51px;
    text-decoration: none;
  }
  .item2{
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

  }
  .exitBut{
    display: flex!important;
    flex: 1 0 auto;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    margin-top: 600px;
  }
  .exitBut>.navItemText{
    color: var(--lightest-red)!important;
  }
  .navItemText{
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: var(--light-grey);
  }
  .userContainer{
    display: flex;
    text-align: center;
    border-bottom: 0.5px solid var(--light-grey) ;
    width: 176px;
    height: 40px;
  }
  .linkUser{
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    display: flex;

  }
  .linkUser>span{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-grey);
  }
}
