#root{
  display: flex;
  flex-wrap: wrap;
  font-family: "Avenir";  
  background: #F6F6F6;
}
@font-face {
  font-family: "Avenir";  
  src: url("./assets/fonts/Avenir-Medium.ttf") format("truetype"); 
   }

// animations
@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}



// antd
.ant-checkbox-wrapper{
  margin-bottom: 8px;
  left: 18%;
}
.ant-checkbox + span{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
}
.ant-input{
  background-color: #F6F6F6;
  border: none;
}
.has-error .ant-input{
  background: #F6F6F6;
  border: 1px solid #FF768E;
  border-radius: 4px;
}
.has-error .ant-input:hover{background: #D1D1D1;}
.has-error .ant-input:focus{box-shadow: 0px 0px 5px #D9D9D9;}
.has-error .ant-input:disabled{color: #D1D1D1;}


.has-error .ant-input-affix-wrapper .ant-input:hover{background: #D1D1D1;}
.has-error .ant-input-affix-wrapper .ant-input:focus{box-shadow: 0px 0px 5px #D9D9D9;}
.has-error .ant-input-affix-wrapper .ant-input:disabled{color: #D1D1D1;}

.ant-form-explain{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #FF768E;
}
// antd

//burger start

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 24px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 2px;
  background: #DADADA!important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}


/* General sidebar styles */
.bm-menu {
  display: flex;
  height: 100%;
  background: #FFF;
  width: 200px;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: #fff;
}
//burger end
