#root{
  display: flex;
  flex-wrap: wrap;
  font-family: "Avenir";  
  background: var(--lightest-grey1);
  --dark-grey: #303030;
  --grey: #707070;
  --light-grey: #9c9c9c;
  --lightest-grey: #d1d1d1;
  --lightest-grey1: #f6f6f6;
  --dark-red: #C60E2E;
  --red: #E4163A;
  --light-red: #FF5761;
  --lightest-red: #FF768E;
  --blue: #344472;
}
@font-face {
  font-family: "Avenir";  
  src: url("./assets/fonts/Avenir-Medium.ttf") format("truetype"); 
   }

   body{
    padding:0;
   }


   .MuiButtonBase-root{
    font-weight: 500!important;
    font-size: 14px!important;
    line-height: 24px!important;
    color: #9c9c9c !important;
   }
   .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
     margin-right: 0;
     background: #fff!important;
   }
   .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 0.5px solid #D1D1D1!important;
    box-sizing: border-box!important;
    border-radius: 4px!important;
   }
   .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
    color: #D1D1D1!important;

   }
   .css-1z7n62>span{
     display: none!important;
   }
// animations
@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  background-color: red!important;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root{
  border-radius:3px!important;
  margin: 0!important;
}

// antd
.ant-checkbox-wrapper{
  margin-bottom: 8px;
  left: 18%;
}
.ant-checkbox + span{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
}
.ant-input{
  background-color: #F6F6F6;
  border: none;
}
.has-error .ant-input{
  background: #F6F6F6;
  border: 1px solid #FF768E;
  border-radius: 4px;
}
.has-error .ant-input:hover{background: #D1D1D1;}
.has-error .ant-input:focus{box-shadow: 0px 0px 5px #D9D9D9;}
.has-error .ant-input:disabled{color: #D1D1D1;}


.has-error .ant-input-affix-wrapper .ant-input:hover{background: #D1D1D1;}
.has-error .ant-input-affix-wrapper .ant-input:focus{box-shadow: 0px 0px 5px #D9D9D9;}
.has-error .ant-input-affix-wrapper .ant-input:disabled{color: #D1D1D1;}

.ant-form-explain{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #FF768E;
}
// antd

//burger start

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 24px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 2px;
  background: #DADADA!important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}


/* General sidebar styles */
.bm-menu {
  display: flex;
  height: 100%;
  background: #FFF;
  width: 200px;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: #fff;
}
//burger end
