.nav{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 140px;
  height: 100%;
  background: #FFFFFF;
  padding: 0;
}
.navItem{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.navItems{
  justify-content: end;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item1{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 36px;
}
.item2{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
  padding-top: 754px;
}
.item3 > .navItemText{
  color: #FF768E;
}
.navItemText{
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #9C9C9C;
}