.nav{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 140px;
  height: 100%;
  background: #FFFFFF;
  padding: 0;
}
.navItem{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.navItems{
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item1{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 36px;
}
.item2{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
  padding-top: 754px;
}
.item3 > .navItemText{
  color: var(--lightest-red);
}
.navItemText{
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--light-grey);
}
.burger{
  display: none;
}
.exitBut{
border: none;
background: #fff;
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;
}
@media(max-width: 1200px){
  .nav{
    height: 772px;
  }
  .item3{
    padding-top: 562px;
  }
}
@media(max-width: 900px){
  .nav{
    height: 644px;
  }
  .item3{
    padding-top: 442px;
  }
}
@media(max-width: 740px){
  .nav{
    height: 500px;
  }
  .item3{
    padding-top: 302px;
  }
}
@media(max-width: 650px){
  .nav{
    height: 720px;
  }
  .item3{
    padding-top: 504px;
  }
}
@media(max-width: 650px){
  .burger{
    display: block;
  }
  .nav{
    display: none;
    height: 550px;
  }
  .item3{
    padding-top: 344px;
  }
}
